

<ngx-gauge [type]="gaugeType" 
           [value]="gaugeValue" 
           [label]="gaugeLabel"  
           [append]="gaugeAppendText"
           [max] = 2>
</ngx-gauge>

<ngx-gauge [type]="gaugeType1" 
           [value]="gaugeValue1" 
           [label]="gaugeLabel1"  
           [append]="gaugeAppendText1"
           [max] = 5000>
</ngx-gauge>

<ngx-gauge [type]="gaugeType2" 
           [value]="gaugeValue2" 
           [label]="gaugeLabel2"  
           [append]="gaugeAppendText2"
           [max] = 10000>
</ngx-gauge>

<ngx-gauge [type]="gaugeType3" 
           [value]="gaugeValue3" 
           [label]="gaugeLabel3"  
           [append]="gaugeAppendText3"
           [max] = 0.03>
</ngx-gauge>