<div layout-gt-md="row">
  <panel-widget flex title="Verbruik history" template="app/views/partials/warnings.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Verbruik current" template="app/views/partials/memory.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Gasverbruik" template="app/views/partials/memory.html" class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Totaalverbruik" template="app/views/partials/memory.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Teruglevering" template="app/views/partials/memory.html" class="fixed-height-widget"></panel-widget>
</div>
